<div class="show-list">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <!-- Two-way data binding + event listener (change)-->
    <input
      class="searchInput"
      type="text"
      placeholder="Search for a movie"
      pInputText
      [(ngModel)]="searchValue"
      (change)="searchValueChanged()"
    />
  </span>
  <ng-container *ngIf="showsList$ | async as showsList">
    <div class="show-list-grid">
      <div *ngFor="let show of showsList.results">
        <app-show-item [showItem]="show"></app-show-item>
      </div>
    </div>

    <div class="pagniator">
      <p-paginator
        (onPageChange)="pageHasChanged($event)"
        [rows]="20"
        [totalRecords]="showsList.total_results"
      ></p-paginator>
    </div>
  </ng-container>
  <!-- attention showsList n'est pas connu en dehors du ng-container -->
</div>
