.show-list-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(16.6%, 1fr)
  ); /* 6 éléments par ligne */
  gap: 0.5rem;
  grid-row-gap: 1rem;
}
.p-input-icon-left {
  .searchInput {
    margin: 2rem;
  }
  i {
    margin-left: 2rem;
  }
}
