@import "../../../styles/variables";

.banner {
  padding: 0.5rem;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
  }
  h1 {
    text-align: center;
    margin: 2rem 0;
  }
}

@media (min-width: $tablet) {
}

@media (min-width: $desktop) {
  .banner {
    padding: 0.5rem;
    &-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.5rem;
      grid-row-gap: 1rem;
    }
  }
}
