<div class="container">
  <div class="genres-links">
    <ng-container *ngIf="genres$ | async as genres">
      <a
        *ngFor="let genre of genres"
        [routerLink]="['/genres', genre.id]"
        aria-hidden="true"
        role="button"
        >{{ genre.name }}</a
      ><!-- aria-hidden="true" is used to hide the link from screen readers -->
    </ng-container>
  </div>
</div>
<ng-container *ngIf="shows$ | async as showsList">
  <div class="show-list-grid">
    <div *ngFor="let show of showsList">
      <app-show-item [showItem]="show" />
    </div></div
></ng-container>
